.cover__subtitle {
  max-width: 360px;
  margin: 0;
  padding: 32px 0 0 0;

  font-family: 'Inter-Regular';
  font-style: normal;

  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #ffff ;
  z-index: 2;
}

@media screen and (max-width: 320px) {
  .cover__subtitle {
    font-size: 14px;
    line-height: 16px;
    padding: 32px 16px 0 16px;
  }
}
